<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Register | Flowist</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/login.css') }}"
    >
    <!--use same css as login html, the style should looks simliar-->
</head>

<body>
    <main class="login-container">
        <header class="login-header">
            <h1>Create account</h1>

            <p>
                Start organising your tasks with Flowist.
            </p>
        </header>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="message">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form
            method="POST"
            action="{{ url_for('register') }}"
        >
            <div class="form-group">
                <label for="username">
                    Username
                </label>

                <input
                    id="username"
                    name="username"
                    type="text"
                    autocomplete="username"
                    required
                >
            </div>

            <div class="form-group">
                <label for="password">
                    Password
                </label>

                <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="new-password"
                    required
                >
            </div>

            <div class="form-group">
                <label for="confirm_password">
                    Confirm password
                </label>

                <input
                    id="confirm_password"
                    name="confirm_password"
                    type="password"
                    autocomplete="new-password"
                    required
                >
            </div>

            <button type="submit">
                Create account
            </button>
        </form>

        <p class="register-link">
            Already have an account?

            <a href="{{ url_for('login') }}">
                login!
            </a>
        </p>
    </main>
</body>
</html>